/*this.state.userData.map((v,i)=>{*/

/*if(v.id.email==e.item.props.email){*/
/*console.log(123,v)*/
/*v.messages.map((v,i)=>{*/
                         /*console.log(333,v);*/
                     /*})*/
/*this.setState({*/
    /*messageList:v.messages,*/
    /*email:e.item.props.email,*/
    /*id:e.item.props.id,*/
/*})*/
/*}*/
/*})*/
:local(.btn){
    box-sizing: border-box;
    display: block;
    background-color: #108ee9;
    width: 80px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #108ee9;
    cursor: pointer;
    margin-top: 2px;
}
:local(.btn)[disabled] {

    color: rgba(0,0,0,.25);
    cursor: not-allowed;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);
}