:local(.wlop){
    padding: 0 20px;
    padding-top: 40px;

}
:local(.showstate){
    float: right;
    font-size: 18px ;
}
:local(.id){
    font-size: 18px;
    font-weight: bold;
    display: block;
    clear: both;
    margin-bottom: 10px;
}
:local(.lupingbox){
    float: left;
    position: relative;
}
:local(.rupingbox){
    float: right;
    position: relative;
}
:local(.idbox){
    width: 500px;
    margin-bottom: 40px;
    height: 185px;
}
:local(.egimg){
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
}
:local(.but){
    clear: both;
}
:local(.boxs){
    cursor: not-allowed;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}