:local(.pcontent){
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;

    -webkit-line-clamp:1;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    display: block;
    -moz-text-overflow:ellipsis;
    display:-webkit-box;

    -moz-line-clamp:1;

    -moz-box-orient: vertical;

}
:local(.ppcon){
    padding: 16px 0;
}
:local(.wlop){

    /*width: 1200px;*/
    margin: 0 auto;

    height: 100%;
    min-height: 522px;
    padding-bottom: 20px;
    background-color: #fff;
}