
:local(.wlop){
    width: 1200px;
    margin: 0 auto;
    clear: both;
    margin-top: 10px;
}
:local(.chatList){
    width: 400px;
    float: left;
}
:local(.chatContent){
    width: 800px;
    float: left;
}
