:local(.wrap) {
    height: 68px;
    z-index: 2;
    padding-left: 36px;
    border-bottom: 1px solid rgba(59,61,64,.5);
    width: 100%;
    font-size: 18px;
}
:local(.auth){
    float: right;
    padding-top: 20px;
    margin-right: 20px;
}
:local(.autht){
    float: right;
    padding-top: 20px;
    margin-right: 20px;
}
:local(.auth) h5{
    font-size: 18px;
    display: inline-block;
    line-height: 24px;
    margin-left: 30px;
    color: #656b6f;
    cursor: pointer;
}

:local(.autht) h5{
    font-size: 18px;
    display: inline-block;

    margin-left: 30px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}
:local(.headnav){
    float: left;
}
:local(.language){
    color: #fff;
    padding-right: 24px;
    border-right: 1px solid rgba(59,61,64,.5);
    float: right;
}:local(.languaget){
    color: #656b6f;
    padding-right: 24px;
    border-right: 1px solid rgba(59,61,64,.5);
    float: right;
}
:local(.hover){
    line-height: 68px;
    display: inline-block;
    width: 100px;
    float: right;



}
:local(.headnavt){
    float: left;
}
:local(.headnav) span{
    padding: 0 25px;
    color: #656b6f;
    line-height: 68px;
    cursor: pointer;
}
:local(.headnavt) span{
    padding: 0 25px;
    color: #fff;
    line-height: 68px;
    cursor: pointer;
}
:local(.headnav) a{

    color: #656b6f;

}
:local(.headnavt) a{

    color: #fff;

}

:local(.linet){
    width: 1px;
    height: 30px;
    background-color: rgba(59,61,64,.5);
    float: left;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 19px;
}
:local(.logo) {
    float: left;
    margin-top: 22px;
}
:local(.logo) img{
    height: 22px;
    width: 166px;
}
:local(.sider) {
    margin-left: 30px;
    color: #fff;
    line-height: 68px;
    text-align: center;
    padding-left: 25px;
    float: right;
    width: 175px;
    height: 68px;
    background: #5262ff;
    background-image: url("./menu.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 25px;
}
:local(.navlist){
    width: 160px;
    height: 40px;


}
:local(.navlist a){
    display: block;
    color: #fff;
    background-color: #656b6f;
    text-align: center;
}
:local(.wrap.absolute) {
    position: absolute;
    width: 100%;
}
:local(.wrap.relative) {
    position: relative;
}
:local(.wrap.otherStyle) {
    color: #656b6f;
    background: #fff;
}
:local(.wrap.fixed) {

    position: fixed;
    width:100%
}
.ant-badge{
    vertical-align:baseline!important;
}

.ant-badge-count{
    right: 0!important;
}
:local(.chatBox){
    margin: -16px;
}
a:hover {
    /* color: #49a9ee; */
}
/*.sc-launcher{*/
    /*display: none!important;*/
/*}*/