:local(.pageContent){

}
:local(.titword){
    font-size: 14px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #000;

}
:local(.sidbox){
    width: 300px;
    height: 535px;
    overflow: auto;
}